[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pysqlite3 = "*"
passlib = "*"
argon2-cffi = "*"
python-dotenv = "*"
pyjwt = {extras = ["crypto"], version = "*"}
psutil = "*"
requests = "*"
jinja2 = "*"
sacremoses = "*"
nltk = "*"
pytest = "*"
httpx = "*"
pandas = "*"
locust = "*"

[dev-packages]

[requires]
python_version = "3.10"
