<!DOCTYPE html>
<html>
    <h1>Adapt Translation API 2.0 Dashboard</h1>
    <div class="board">
    {% for key in connections.keys() %}
        <div class="board-item">
            <p>({{key}}) Model</p>
            {% if connections[key]["is_connected"] %}
                <p style="color: green">Online</p>
                <p>Input: {{ connections[key]["input"] }}</p>
                <p>Output: {{ connections[key]["output"] }}</p>
                <p>Time (s): {{ connections[key]["time"] }}s</p>
            {% else %}
                <p style="color: red">Offline</p>
            {% endif %}
            <br>
        </div>
    {% endfor %}
        </div>
    </div>
</html>

<style>
:root {
    --board-item-margin: 300px;
}
body {
    background-color: rgba(211, 211, 211, 0.527);
}

h1,p {
    color: navy;
}

.board-item {
    border: 1px solid navy;
    text-align: center;
    margin: 5px;
    height: 300px;
    width: 300px;
}

.board-item:hover {
    border: 1px solid rgb(219, 0, 219);
}

.board {
    display: grid;
    grid-template-columns: repeat(5, var(--board-item-margin));
    grid-template-rows: repeat(5, auto);
    gap: 15px 10px;
}
</style>