{% extends 'base.html' %}
{% block content %}
  <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="margin: 10px;  width: 60%" >
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Who, what and why?</h2>
    </div>
    <div class="mdl-card__supporting-text">
      This API provides efficient and secure connection to 30 language models which allow for translations between English, German, French, Italian, Polish, and Irish.
      Built for and integrated into the <a href="https://www.eucommeet.eu/objectives-activities-nutshell/">EUComMeet platform</a> to aid in the facilitation of discussions between EU citizens on pervasive issues within Europe.
      All tools and resources used in the creation of the API and translation models were taken from open and freely available sources.
      The models were adapted to be particularly useful in the domain of economics and the environment, chosen as two of the most discussed topics in the European Union today.
      <br><br>
      The API codebase will be made open source for re-use in other projects and the translation models will also eventually be made publicly available.
      This work would not have been possible without funding from the European Commission and the major efforts of Professor Andy Way, Dr. Pintu Lohar, Dr. Guodong Xie, and Daniel Gallagher, based in the ADAPT Centre at Dublin City University.
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/dashboard/docs">
        Get Started
      </a>
    </div>
  </div>
{% endblock content %}