{% extends 'base.html' %}
{% block content %}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="margin: 10px; width: 50%;">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric" style="text-align: left;">Source</th>
      <th style="text-align: left;">Target</th>
      <th style="text-align: left;">Server</th>
      <th style="text-align: left;">Model ID</th>
    </tr>
  </thead>
  <tbody>
    {% for src in server_config.keys() %}
      {% for tgt in server_config[src].keys() %}
      <tr>
        <td class="mdl-data-table__cell--non-numeric" style="text-align: left;">{{src}}</td>
        <td style="text-align: left;">{{tgt}}</td>
        <td style="text-align: left;">{{server_config[src][tgt]["server"]}}</td>
        <td style="text-align: left;">{{server_config[src][tgt]["id"]}}</td>
      </tr>
      {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% endblock content %}